/* AboutUs.css */

.about-us {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.about-section {
  display: flex;
  flex-direction: column; /* Stack items by default */
  align-items: center;
  margin-bottom: 40px;
}

.about-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px; /* Space between image and text */
}

.about-content {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .about-image {
    margin-bottom: 0; /* Remove margin when side by side */
  }

  .about-content {
    text-align: left;
  }
}
