.hospital-card {
  display: flex;
  flex-direction: row;
  background-color: #9AD0C2;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  height: 300px;
  margin: 1rem;
  padding: 1rem;
}

.hospital-image {
  width: auto;
  height: 200px;
  max-width: 100%;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

button.book-appointment-button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .hospital-card {
    max-width: 100%;
    flex-direction: column;
    height: auto;
  }

  .hospital-image {
    width: 100%;
    height: auto;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 500px; /* Limit modal width */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .modal {
    width: 90%;
    padding: 15px;
  }
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

button {
  background-color: #f44336;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d32f2f;
}

.radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
