.main-container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

.carousel-image {
  width: 100%;
  height: auto; /* Set a fixed height for carousel images */
  object-fit: cover;
}

.slick-slider {
  width: 100%;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #00000000;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li {
  margin: 0 5px;
  button {
    font-size: 12px;
    color: #007bff00;
  }
}

.slick-dots li.slick-active button {
  color: #0057b300;
}

.hospital-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hospital-info,
.hospital-image {
  width: 100%;
}

.hospital-image img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .main-container {
    padding: 20px 40px;
  }

  .carousel-image {
    height: 400px;
  }

  .hospital-info-container {
    flex-direction: row;
  }

  .hospital-info {
    width: 60%;
    margin-right: 20px;
  }

  .hospital-image {
    width: 200px;
  }
}


  